ASPNETCORE_ENVIRONMENT=Development

Jwt__Key=CHANGE_ME_MIN_32_CHARS_LONG_SECRET_KEY
Jwt__Issuer=AssignmentSystem
Jwt__Audience=AssignmentSystemClient
Jwt__ExpiryHours=4
Cors__AllowedOrigins__0=http://localhost:3000

Cloudinary__CloudName=dfg8avlmr
Cloudinary__ApiKey=563469565826863
Cloudinary__ApiSecret=5ktMQhmJLXttAiaAC2PtAiy6D6s
DB_URL="Host=aws-0-ap-southeast-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.idxspwacyiafemvbadck;Password=sagorsafwan;SSL Mode=Require;Trust Server Certificate=true"
